@import '~antd/dist/antd.css';
.chartsContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    background-color: #404a59;
    .echartsContainer{
        flex: 1;
    }
    .datacountContainer{
        width: 75%;
        color: #fff;
        margin: 0 auto;
        text-align: right
    }
}