.menuBox{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    box-sizing: border-box;
    a{
        color: #fff;
    }
    li{
        display: flex;
        flex-direction: column;
        width: 75px;
        height: 75px;
        justify-content: center;
        align-items: center;
        margin: 5px;
        span{
            display: block;
            i{
                font-size: 32px;
                color: #51d0d5;
            }
        }
    }
}