@import '~antd/dist/antd.css';
.chartsContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    .echartsContainer{
        flex: 1;
    }
}